.nav {
    height: 20px;
    padding: 10px;
    background: gray;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navHorizontal {

}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 3px 15px;
    font-family: var(--font-mono);
    font-size: .75rem;
}

.nav a {
    display: block;
}

.nav li:hover {
    background: lightgray;
}
